name: Build Android APK

on:
  push:
    branches: [ master, main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Build with Buildozer action
      uses: ArtemSBulgakov/buildozer-action@v1
      id: buildozer
      with:
        command: buildozer android debug
        buildozer_version: stable
    
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: FileMonitor-APK
        path: ${{ steps.buildozer.outputs.filename }}
